.row__posterContainer img{
    width: 20vw;
    transition: transform 450ms;
    margin-right: 1vw;
}

.row__posterContainer img:hover {
    transform: scale(1.05);
}

.row{
    color: white;
    margin-left: 20px;
}

.row h1{
    font-size: 25px;
}

.row__posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

@media(max-width: 630px) {
    .row__posterContainer .row__posterTitle {
            width: 12vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
}